<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<div class="content">
    <h1>USER's PROFILE</h1>
    <p>First Name: <%= foundPerso.firstName %></p>
    <p>Last Name: <%= foundPerso.lastName %></p>
    <p>Email: <%= foundPerso.email %></p>
    <p>Age: <%= foundPerso.age %></p>
    <p>File: <%= foundPerso.file %></p>
    <p>Purpose: <%= foundPerso.purpose %></p>
    <p>Biography: <%= foundPerso.bio %></p>
</div>

<%- include('../partials/footer') -%>